.ques-ans-container {
  max-width: 708px;
  margin: 0 auto;
}
.ques-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
  background-color: #fff;
  padding: 30px 20px;
  border: 1px solid #d8dee9;
}
.ques-container a{
  color: black;
}
.upvote-downvote-panel {
  width: 70px;
  text-align: center;
  margin-right: 20px;
}
.ques-container-outer{
  margin-bottom: 50px;
  background-color: #fff;
  padding: 30px 20px;
  border: 1px solid #d8dee9;
}
.ques-container-inner{
  display: flex;
  align-items: start;
}
.upvote-downvote-panel button {
  outline: none;
  border: none;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  font-size: 12px;
}
.upvote-downvote-panel .up{
  margin-bottom: 20px;
}
/* .upvote-downvote-panel button div{
  position: absolute;
  top: 0;
  right: 0;
} */
.upvote-count{
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.upvote-triangle {
  width: 0;
  height: 0;
  border: 30px solid transparent;
  border-bottom: 28px solid #767676;
  border-top: 0;
}
.downvote-count{
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.downvote-triangle {
  width: 0;
  height: 0;
  border: 30px solid transparent;
  border-top: 28px solid #767676;
  border-bottom: 0;
}

.upvote-active .upvote-triangle{
  border-bottom: 28px solid #2046a4;
  color: white;
}
.upvote-active .upvote-count{
  color: white;
}
.downvote-active .downvote-triangle{
  border-top: 28px solid #2046a4;
  color: white;
}
.downvote-active .downvote-count{
  color: white;
}

/* .upvote-downvote-panel .up {
  transform: rotate(-180deg);
} */
.upvote-downvote-panel svg {
  fill: #767676;
}
.answer-page .question-header {
  flex-grow: 1;
  /* padding: 0 20px;   */
}

.answer-page .question_stats {
  background-color: #fff;
  padding: 0;
  margin: 30px 0 0 0;
}
.question_stats .btn{
  color: white;
}

.answer-page .stats_list_a a {
  border: 1px solid #767676;
}

.answer-form {
  padding: 0;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  max-height: 0;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.activeAnswerForm {
  max-height: 600px;
  margin-block: 20px;
}

.answer-from .input-div textarea {
  display: block;
  width: 100%;
  max-width: 650px;
}
.answer-form .btn{
  width: 100%;
  padding: 10px;
}

.divider{
  margin: 30px 0 45px 0;
  border-bottom: 2px solid #d8dee9;
  padding-bottom: 6px;
}
.divider p{
  color: black;
  font-size: 30px;
}
.question-header .three-dots{
  align-self: flex-start;
}

.isUpvotedDownvoted svg{
  fill: grey;
  stroke: grey;
}