.no-more-container {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-more-image {
    width: 200px;
    animation: zoomInOut 2s infinite alternate;
}

@keyframes zoomInOut {
0% {
    transform: scale(1);
}
50% {
    transform: scale(1.2);
}
100% {
    transform: scale(1);
}
}
  