/* .profile-img-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
} */
/* .profile-pic-form {
  max-width: 500px;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
} */

#inputFile {
  display: none;
}

.crop-btns label {
  text-transform: capitalize;
  padding: 8px 16px;
  background-color: blue;
  border-radius: 4px;
  display: inline-block;
  color: white;
  cursor: pointer;
  font-size: 12px;
}

.ReactCrop__image {
  width: 100%;
}

.crop-btns {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.generated-profile-pic {
  display: flex;
  justify-content: center;
}
.generated-profile-pic > * {
  margin: 20px 0;
}

.save-btn {
  display: block;
  background-color: #28a745;
  margin: 0 auto;
}
.post-form-control {
  margin-top: 30px;
}
.post-form-control .post-form-label {
  color: rgb(81, 81, 255);
  font-size: 10px;
  text-transform: capitalize;
  font-weight: 500;
  display: block;
}
.post-form-input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid #edebeb;
  border-radius: 1px;
  padding: 5px 0 7px 0;
}
