.form-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-content: center;
}

.profile-edit-form{
    max-width: 400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
}
.form-control {
    position: relative;
    margin-bottom: 30px;
}
.form-control label{
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
    color: black;
}
.form-control input{
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 3px;
    border: 1px solid grey;
}
