.profile-img-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
}
.profile-pic-form {
  width: 100%;
  max-width: 500px;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
}

#inputFile {
  display: none;
}

.crop-btns label {
  text-transform: capitalize;
  font-size: 12px;
}

.crop-btns .btn{
  min-width: 120px;
}



.ReactCrop__image {
  width: 100%;
}

.crop-btns {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.selected-image {
  /* width: 400px; */
  height: 250px;
  background-color: aliceblue;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.selected-image h2 {
  color: rgb(179, 189, 197);
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 3px;
}
.generated-profile-pic {
  display: flex;
  justify-content: center;
}
.generated-profile-pic > * {
  margin: 20px 0;
}
.crop-img-container{
  height : 400px;
  max-width : 400px;
  overflow-y : scroll;
  display: flex;
  align-items : center;
  justify-content : center;
  background-color :#000;
  margin : 0 auto;
}
.crop-img-container > div{
  margin: auto 0;
}

.save-btn {
  display: block;
  background-color: #28a745;
 
  min-width: 120px;
}

@media (max-width: 500px){
  .profile-img-overlay{
    padding: 20px 10px;
  }
  .selected-image h2 { 
    font-size: 22px;
  }
  .profile-pic-form {
    padding: 20px;
  }
}
