.wrapper{
    flex-grow: 1;
    height: 90vh;
    overflow-y: scroll;
    /* display: flex;
    flex-direction: column;
    align-items: flex-end;*/
    scrollbar-width: none;
}
.wrapper > div{
    margin-block: 50px;
}
.wrapper > div:first-child{
    margin-top: 0px;
}

.wrapper::-webkit-scrollbar {
    width: 0;               
}
  
.wrapper::-webkit-scrollbar-thumb {
    border-radius: 20px;      
}

@media(max-width: 1000px){
    .wrapper{
        width: 100%;
    }
}