.feed-ques-container{
    background-color: #f8f9fa;
    padding: 2rem 50px;
}
.feed-ques-page{
    display: flex;
    padding: 50px 0;
    gap: 50px;
    max-width: 1300px;
    margin: 0 auto;
    justify-content: center;
    /* border: 1px solid red; */
}
.feed-ques-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 50px; */
    max-width: 1300px;
    margin: 0 auto;
    border-bottom: 2px solid #d8dee9;
}

.feed-ques-header h1{
    font-size: 5rem;
    font-weight: 200;
    line-height: 1.2;
    padding-right: 15px;
}

@media(max-width : 950px){
    .feed-ques-header h1{
        font-size: 3rem;
    }
    .feed-ques-header .btn{
        font-size: 14px
    }
    
}
