.profile-container .profile-section {
  display: flex;
  /* align?-items: center; */
  gap: 30px;
  margin-bottom: 30px;
  /* flex-grow: 1; */
}
.profile-img {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: black;
  overflow: hidden;
  flex-shrink: 0;
}
.profile-img:hover .img-edit-overlay {
  visibility: visible;
}
.img-edit-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 0.2s;
  cursor: pointer;
  background-color: rgba(231, 231, 242, 0.25);
}
.img-edit-overlay .edit-blue-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  aspect-ratio: 1;
  background-color: #2046a4;
  border-radius: 50%;
}
.img-edit-overlay i {
  color: #fff;
  font-size: 25px;
  margin-left: 5px;
}
.profile-info-container {
  /* flex-grow: 1; */
  /* max-width: 300px; */
  width: 100%;
  margin-right: 40px;
}
.profile-info .profile-name {
  font-size: 26px;
  font-weight: bold;
  text-transform: capitalize;
}
.profile-stats > p {
  display: inline;
  margin-right: 10px;
  font-size: 14px;
  color: grey;
  cursor: pointer;
}
.profile-stats p > span {
  margin-right: 4px;
}
.profile-stats > p:hover {
  border-bottom: 1px solid grey;
}
.btn-sec {
  padding: 5px 25px;
  max-width: 300px;
  text-align: center;
  font-size: 13px;
  border: 1px solid white;
  background-color: #2046a4;
  color: white;
  border-radius: 25px;
}
.followed {
  background-color: white;
  color: black;
  border: 1px solid grey;
}
/* Links */
.profile-links {
  border-bottom: 1px solid rgb(223, 224, 234);
  border-top: 1px solid rgb(223, 224, 234);
  margin-bottom: 30px;
}
.profile-links .links {
  padding: 12px 10px;
  color: black;
}

.profile-links .links:hover {
  /* background-color: rgb(241, 241, 246); */
  background-color: #fff;
  border-bottom: 2px solid black;
}

.profile-links .active {
  border-bottom: 2px solid black;
}

.tags-container {
  margin-top: 10px;
  background-color: #fff;
  align-self: start;
  padding: 30px;
  
}
.mobile-tags-container {
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 550px;
  display: none;
}
.tags-container .header {
  border-bottom: 1px solid rgb(223, 224, 234);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.tags-container .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.tags-container .header i {
  font-size: 18px;
  cursor: pointer;
}

.profile-info .info-inner {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}
.bio {
  font-size: 14px;
}
.location {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 18px;
  font-size: 13px;
  color: grey;
}
.location i {
  margin-right: 10px;
}
.profile-options-container {
  position: relative;
  align-self: flex-start;
}
.profile-options {
  height: 30px;
  width: 30px;
  align-self: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  cursor: pointer;
  /* margin-top: 23px; */
  border-radius: 50%;
  background-color: #fff;
  /* margin-bottom: 5px; */
  transition: all 0.4s;
}
.profile-options i {
  font-size: 15px;
}
.profile-options:hover {
  transform: scale(1.1);
}

.stats {
  display: flex;
  gap: 20px;
}
.stats-item {
  margin-top: 18px;
  display: flex;
  font-size: 28px;
  font-weight: bold;
  gap: 10px;
  background-color: rgb(212, 213, 244);
  border-radius: 8px;
  padding: 3px 15px;
  align-items: center;
  cursor: pointer;
  color: black;
}
.stats-item span {
  font-size: 14px;
  font-weight: normal;
}
.stats-item:hover {
  background-color: rgba(212, 213, 244, 0.8);
}
.profile-add-links {
  display: inline-block;
}
.profile-add-links:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .profile-info .profile-name {
    font-size: 16px;
  }
  .profile-img {
    width: 80px;
    height: 80px;
    align-self: start;
  }
  .img-edit-overlay .edit-blue-bg {
    width: 40px;
  }
  .img-edit-overlay i {
    font-size: 18px;
  }
  

  .profile-options {
    margin-top: 0;
  }
}

@media (max-width: 1000px) {
  .desktop-tags-container{
    display: none;
  }
  .mobile-tags-container{
    display: block;
  }
}

@media (max-width: 600px) {
  .profile-info-container {
    margin-right: 0;
  }
  .stats-item {
    /* flex-direction: column; */
    padding: 8px;
    /* justify-content: center; */
    gap: 5px;
    font-size: 16px;
  }
  .stats-item span {
    font-size: 12px;
  }
  .location {
    gap: 5px;
    align-items: start;
    flex-direction: column;
  }
}

@media (max-width: 600px){
  .profile-section .profile-img{
    display: flex;
  }
}

@media (max-width: 500px){
  .profile-container .profile-section{
    gap: 15px;
  }
  .profile-section .profile-img{
    width: 60px;
    height: 60px;
  }
  /* .profile-info .info-inner{
    justify-content: space-between;
  } */
}
