* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

nav a {
  text-decoration: none;
  display: inline-block;
  color: #767676;
}

nav li {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
}

.nav_logo {
  text-transform: uppercase;
  font-weight: 400;
  margin-right: 50px;
}

.nav_logo span {
  color: #0d6cdf;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 80px;
  padding: 0px 30px;
}

.nav-links-list-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-right: 20px;
  border-right: 1px solid #a1a1a1;
}

.nav-links-list-a ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-links-list-a li {
  padding: 0 10px;
  text-transform: capitalize;
  cursor: pointer;
}

.nav-links-list-a li a:hover {
  color: black;
}

.nav-links-list-a li:first-child {
  border-right: 1px solid #a1a1a1;
}
.mobile-style-wrapper .fa-times {
  display: none;
}
.nav-links-list-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 10px;
}

.nav-links-list-b > * {
  margin: 0 10px;
}

.profile-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-links-list-b .profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#000),
    to(#000)
  );
  background-image: linear-gradient(#000, #000);
  background-position: center;
  background-size: cover;
  margin-right: 10px;
}
.search-container {
  position: relative;
}
.search-div {
  display: flex;
  align-items: center;
  height: 40px;
  /* border: 1px solid #eee; */
  font-size: 14px;
  background-color: #fff;
  color: #bebebe;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 0px 10px #bebebe95;
}
.search-results {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 150px;
  box-shadow: 0px 0px 10px #bebebe95;
  background-color: aliceblue;
  margin: 20px auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.search-icon {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #bebebe;
}
.search-div input {
  font-size: 16px;
  height: 100%;
  width: 250px;
  outline: none;
  border: none;
  background-color: transparent;
}

.no-results {
  height: 100%;
  display: flex;
  align-items: center;
}

.drop-down-search {
  height: 80px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 6;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}
.drop-down-search .search-container {
  width: 80%;
  margin: 0 auto;
}
.drop-down-search-results {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 400px;
  /* display: block; */
  margin: 0 auto;
  background-color: aliceblue;
  border-radius: 8px;
  padding: 8px 0;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
.drop-down-search .search-div {
  width: 80%;
  margin: 0 auto;
  max-width: 400px;
}
.drop-down-search .search-div input {
  flex-grow: 1;
}

.drop-search-cancel {
  width: 12px;
  margin-right: 15px;
  cursor: pointer;
}
.search-cancel{
  width: 12px;
  margin-right: 15px;
  cursor: pointer;
}

/* .search-div:hover {
  border: 1px solid #a1a1a1;
} */

.burger_btn {
  display: none;
  flex-direction: column;
  width: 30px;
  cursor: pointer;
  margin-left: 20px;
}

.burger_btn span {
  background: #000;
  border-radius: 10px;
  height: 4px;
  margin: 2px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.desktop-logout {
  display: inline-block;
}
.mobile-logout {
  display: none;
}

.burger_btn span:nth-of-type(1) {
  width: 50%;
}

.burger_btn span:nth-of-type(2) {
  width: 100%;
}

.burger_btn span:nth-of-type(3) {
  width: 75%;
}

.mobile-svg{
  display: none;
}

.notification-icon{
  position: relative;
  margin-top: 8px;
  cursor: pointer;
}
/* .notification-icon svg{
  fill: red;
} */
.notification{
  position: absolute;
  top: 5px;
  right: -1px;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 10px;
  cursor: pointer;
}

.notification-icon-outer{
  position: relative;
  margin-left: 20px;
  background-color: #fff;
}
.notification-container{
  position: absolute;
  right: -40px;
  top: 60px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  z-index: 2;
  overflow-y: scroll;
  max-height: 400px;
  width: 300px;
}
.notification-container h1{
  font-size: 18px;
  margin-bottom: 10px;
}
.dropdown-outer-container{
  position: relative;
}
.triangle{
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: 40px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  transform: rotateZ(45deg);
}
.desktop-hide{
  display: none;
}
@media (max-width: 1100px) {
  .desktop-logout {
    display: none;
  }
  .mobile-logout {
    display: inline-block;
  }
  .nav_logo {
    margin-right: 0;
  }
  .burger_btn {
    display: flex;
  }
  .nav-links-list-b .profile-div .username {
    display: none;
  }
  .profile-div,
  .profile-div .profile-img {
    margin-right: 0;
  }
  .nav-links-list-a .mobile-style-wrapper {
    position: fixed;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2046a4;
    width: 90%;
    max-width: 500px;
    z-index: 5;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgb(226, 241, 248);
    overflow: hidden;
    max-height: 0;
    padding: 0;
    transition: all 0.5s;
  }
  .active .mobile-style-wrapper {
    padding: 50px 0;
    max-height: 500px;
  }
  .mobile-style-wrapper .fa-times {
    display: block;
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 25px;
    color: white;
    cursor: pointer;
  }

  .nav-links-list-a ul {
    flex-direction: column;
  }
  .nav-links-list-a ul li {
    padding: 0 2px 2px 2px;
    margin: 20px 0;
    font-size: 16px;
    text-align: center;
    border-bottom: 2px solid transparent;
  }
  .nav-links-list-a ul li:first-child {
    border-right: none;
  }
  .nav-links-list-a ul li a {
    color: #fff;
  }
  .nav-links-list-a ul li:hover {
    border-color: #fff;
  }
  .nav-links-list-a ul li:hover a {
    color: #fff;
  }

  .nav-links-list-a {
    justify-content: flex-end;
  }
}

@media (max-width: 700px) {
  .search-div input {
    width: 0;
  }
  .search-results {
    display: none;
  }
  .drop-down-search-results {
    display: block;
    z-index: 4;
  }
  .drop-down-active {
    max-height: 80px;
  }
  .search-cancel{
    display: none;
  }
}

@media (max-width: 450px){
  .notification-icon-outer{
    margin-left: 0;
  }
  .nav-links-list-b > * {
    margin: 0;
  }
  nav{
    padding: 0 20px;
  }
  .mobile-svg{
    display: none;
    padding-left: 20px;
    gap: 20px;
  }
 
  .logout-svg{
    width: 30px;
    height: 30px;
    margin-top: 8px;
    cursor: pointer;
  }
  /* .burger_btn{
    display: none;
  }
  .burger_btn{
    
    display: none;
    gap: 20px;
  } */
  .profile-img{
    display: none;
  }
  .mobile-hide{
    display: none;
  }
  .desktop-hide{
    display: block;
  }
  
}
@media (max-width: 450px){
  .notification-container{
    width: 280px;
  }
}