@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  height: 100vh;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #767676;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  display: block;
}

.post_overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-btn i {
  color: #fff;
  font-size: 25px;
}

.post_pop_up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  margin: auto;
  border-radius: 8px;
  overflow: hidden;
  max-height: 90vh;
}

.pop_up_img {
  min-height: 100%;
  background-color: #fff;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
}

.pop_up_img img {
  width: 100%;
  max-height: 90%;
}

.pop_up_content {
  background-color: #fff;
  width: 45%;
  min-width: 500px;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.pop_up_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  padding: 5px 20px;
}

.pop_up_header .user_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pop_up_header .user_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
  margin-right: 10px;
}

.pop_up_header i {
  font-size: 1.2rem;
}

.comment-section {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px;
  overflow-y: scroll;
  border-top: 1px solid #d8dee9;
  border-bottom: 1px solid #d8dee9;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.comment .commenter_img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #000;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.comment .comment_body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.comment p {
  font-size: 13px;
}

.comment p .commenter_username {
  font-weight: bold;
  margin-right: 10px;
}

.comment a {
  font-size: 13px;
  font-weight: bold;
}

.pop_up_stats_outer {
  height: 100px;
}

.pop_up_stats {
  padding: 0 20px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pop_up_stats_likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pop_up_stats_likes svg {
  fill: #fff;
  stroke: #000;
  stroke-width: 2;
  overflow: visible;
}

.pop_up_stats_likes span {
  font-size: 13px;
  font-weight: bold;
  margin-left: 8px;
}

.pop_up_stats_comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.pop_up_stats_comments a {
  font-size: 13px;
  margin-left: 8px;
  color: #767676;
}

.pop_up_stats_comments a:hover {
  color: black;
}

.pop_up_stats_comments i {
  font-size: 22px;
}

.pop_up_stats_comments i:hover {
  color: #767676;
}

.pop_up_comment_type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  border-top: 1px solid #d8dee9;
}

.pop_up_comment_type input {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 15px 8px 15px 0;
  outline: none;
  border: none;
}

.pop_up_comment_type .post_btn {
  color: skyblue;
  font-weight: bold;
}

@media (max-width: 900px) {
  .post_pop_up {
    width: 400px;
    max-height: 75vh;
  }
  .pop_up_img {
    display: none;
  }
  .pop_up_content {
    width: 100%;
    min-width: unset;
  }
}
/*# sourceMappingURL=post-overlay.css.map */