.footer {
  background-color: #070617;
  color: #fff;
  padding: 80px 30px 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.footer .logo {
  width: 250px;
}
.footer-links{
  display: flex;
  gap: 20px;
  color: white;
}
.footer-links li{
  list-style-type: none;
}
.footer-links li a{
  color: white;
  text-transform: capitalize;
  font-size: 16px;
}

.footer-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
  max-width: 1000px;
}

.footer_soc_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.footer_soc_links li {
  margin: 0 25px;
  list-style-type: none;
}

.footer_soc_links li i {
  font-size: 25px;
  color: #fff;
}

.footer_soc_links li i:hover {
  font-size: 32px;
}

.attribute {
  font-size: 15px;
}

.attribute span {
  color: #3d76e0;
  margin: 0 5px;
  font-size: 13px;
}

.attribute span:hover {
  opacity: 0.5;
}
@media (max-width: 900px){
  .footer-inner{
    width: fit-content;
  }
  .footer-links,.search-container{
    display: none;
  }
}
@media (max-width: 450px){
  .footer{
    padding-bottom: 60px;
  }
}