/* body{
  background-image: url(../public/amu.png);
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: multiply;
} */
.wrapper {
  flex-grow: 1;
  height: 90vh;
  overflow-y: scroll;
  max-width: 708px;
  margin: 0 auto;
  scrollbar-width: none;
  width: 100%;
}
.wrapper > div {
  margin-block: 50px;
}
.wrapper > div:first-child {
  margin-top: 0px;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.wrapper::-webkit-scrollbar-thumb {
  border-radius: 20px;
}

.btn-md{
  max-width: 300px;
  width: 90%;
  text-align: center;
}

.three-dots{
  position: relative;
  cursor: pointer;
}
.drop-down{
  position: absolute;
  right: 0;
  top: 130%;
  width: 150px;
  border: 1px solid #dbe;
  z-index: 4;
  background-color: #fff;
}
.drop-down > .drop-down-item{
  border-bottom: 1px solid #dbe;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  cursor: pointer;
  /* color: #dadde4; */
}
.drop-down-item img{
  width: 16px;
}
.drop-down > .drop-down-item:hover{
  background-color: #e4e6e9;
  color: black;
}
.drop-down p{
  font-size: 13px;
}

.drop-down-wrapper{
  z-index: 4;
}


@media (max-width: 1000px) {
  .wrapper {
    width: 100%;
  }
}

.btn {
  border: none;
}
.flex-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
ul {
  list-style-position: inside;
}
